.container-section {
  overflow: hidden;
  min-height: 70vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .container-section {
    padding: 0;
  }
}
